<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Spring Boot Web App using Spring MVC and Spring Data JPA</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>title</th>
        <th>description</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="tutorial : ${tutorials}">
            <td th:text="${tutorial.title}">title</td>
            <td th:text="${tutorial.description}">description</td>
        </tr>
    </tbody>
</table>
</body>
</html>